# Wine Dataset
## Machine Learning - Classification por Naive Bayes

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn

In [2]:
dados = pd.read_csv('wine_dataset.csv')

In [3]:
dados.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [4]:
dados.shape

(6497, 13)

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         6497 non-null   float64
 1   volatile_acidity      6497 non-null   float64
 2   citric_acid           6497 non-null   float64
 3   residual_sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free_sulfur_dioxide   6497 non-null   float64
 6   total_sulfur_dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  style                 6497 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB

In [6]:
dados['style'].value_counts()

white    4898
red      1599
Name: style, dtype: int64

#### Notamos não haver dados nulos, porém a coluna 'style' é composta por strings, precisamos substituir para valores numéricos

In [7]:
dados["style"] = np.where(dados["style"] == "white", 1, 0)

In [8]:
dados['style'].value_counts()

1    4898
0    1599
Name: style, dtype: int64

#### Importando as bibliotecas e separando as variáveis para o modelo

In [9]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [10]:
X = dados.drop('style', axis = 1)
y = dados['style']

#### Criação do modelo

In [11]:
X_treino, X_valid, y_treino, y_valid = train_test_split(X, y, test_size = 0.3, random_state = 50)

In [12]:
modelo = GaussianNB()

In [13]:
modelo.fit(X_treino, y_treino)

GaussianNB()

#### Checagem da acurácia do modelo

In [14]:
acc = modelo.score(X_valid, y_valid)
print('Acurácia:',acc)

Acurácia: 0.9753846153846154